.versos {
  height: 100vh;
  background-color: #1c1c1c;
  color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.texto {
  font-size: 2rem;
  max-width: 800px;
  line-height: 1.6;
  font-weight: 400;
  white-space: pre-line;
}

@media (max-width: 768px) {
  .texto {
    font-size: 1.5rem;
  }
}
